<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="APP_ID" value="Pinterest developer site APP ID" />
		<add key="APP_SECRET" value="Pinterest developer site APP SECRET" />
		<add key="ACCESS_TOKEN" value="Testing access token to have direct access" />
	</appSettings>
</configuration>